<html>

<head>
  <title> Banflow Width Calculator </title>
  <script defer src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script defer src="./index1.js"></script>
</head>

<body>
  <div id="gtco-subscribe">
    <div class="gtco-container">
      <div class="row animate-box">
        <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
          <h2>Calculate Bankflow Width Ratios</h2>
          <p>Lattitude and Longitude must be accurate to the fifth decimal place.</p>
        </div>
      </div>
      <div class="row animate-box">
        <div class="col-md-12">
          <form class="form-inline">
            <div class="col-md-4 col-sm-4">
              <div class="form-group">
                <label for="Lattitude">Lattitude</label>
                <input type="text" class="form" id="lat" placeholder="Lattitude">
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="form-group">
                <label for="Longitude">Longitude</label>
                <input type="text" class="form" id="lon" placeholder="Longitude">
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="col-md-4 col-sm-4">
                <div class="form-group">
                  <label for="Start year">Start Year</label>
                  <input type="int" class="form-control" id="startyr" placeholder="year">
                </div>
              </div>
              <div class="col-md-4 col-sm-4">
                <div class="col-md-4 col-sm-4">
                  <div class="form-group">
                    <label for="End year">End Year</label>
                    <input type="int" class="form-control" id="endyr" placeholder="year">
                  </div>
                </div>
                <button id="submitButton">Calculate</button>
              </div>
            </div>
        </div>
      </div>
    </div>
</body>

</html>
